Air Quality

In [1]:
import pandas as pd

In [ ]:
air_quality_df = pd.read_csv('air_quality.csv')

In [12]:
last_2_years = air_quality_df[63283:]

In [15]:
last_2_years

,_id,date,site,parameter,index_value,description,health_advisory,health_effects
63283,74209,2023-11-03,Harrison Township,OZONE,41,Good,NaN,NaN
63284,74210,2023-11-03,Lawrenceville,OZONE,40,Good,NaN,NaN
63285,74211,2023-11-03,South Fayette,OZONE,43,Good,NaN,NaN
63286,74212,2023-11-03,Glassport High Street,PM10,21,Good,NaN,NaN
63287,74213,2023-11-03,Liberty,SO2,55,Moderate,NaN,NaN
...,...,...,...,...,...,...,...,...
79327,95324,2025-11-02,Pittsburgh,PM25_640,53,Moderate,Unusually sensitive people should consider red...,Respiratory symptoms possible in unusually sen...
79328,95325,2025-11-02,South Fayette,PM25_640,34,Good,NaN,NaN
79329,95326,2025-11-02,Lawrenceville 2,SO2,11,Good,NaN,NaN
79330,95327,2025-11-02,Liberty,SO2,4,Good,NaN,NaN
79331,95328,2025-11-02,North Braddock,SO2,13,Good,NaN,NaN

In [26]:
# combine the data for Lawrenceville and Lawrenceville 2, and Liberty and Liberty 2
last_2_years['site'] = last_2_years['site'].replace({'Lawrenceville 2': 'Lawrenceville', 'Liberty 2': 'Liberty'})
# rank the neighborhoods by their average air quality index (AQI)
neighborhood_aqi = last_2_years.groupby('site')['index_value'].mean().reset_index()
neighborhood_aqi = neighborhood_aqi.sort_values(by='index_value')
neighborhood_aqi

/var/folders/lh/p2z8f9010qq5_x1x01y53skm0000gp/T/ipykernel_46442/826234411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_2_years['site'] = last_2_years['site'].replace({'Lawrenceville 2': 'Lawrenceville', 'Liberty 2': 'Liberty'})

                    site  index_value
4          Lawrenceville    13.635659
2  Glassport High Street    16.961644
7           Parkway East    19.875434
6         North Braddock    20.329448
8             Pittsburgh    23.015755
5                Liberty    24.792851
3      Harrison Township    27.426399
1               Clairton    35.221154
0                 Avalon    36.566529
9          South Fayette    41.463479

In [27]:
# rank by health advisories
advisory_counts = last_2_years.groupby('site')['health_advisory'].count().reset_index()
advisory_counts = advisory_counts.sort_values(by='health_advisory', ascending=True)
advisory_counts

                    site  health_advisory
2  Glassport High Street                4
4          Lawrenceville               38
9          South Fayette              119
7           Parkway East              151
3      Harrison Township              161
1               Clairton              164
0                 Avalon              181
8             Pittsburgh              191
5                Liberty              265
6         North Braddock              291